<form action="" method="post">

    {% csrf_token %}
    <div class="fieldWrapper">
        <label for="id_message">Airline:</label>
        {{ form.airline }}
    </div>
    <div class="fieldWrapper">
        <label for="id_message">Flight Number:</label>
        {{ form.flight_number }}
    </div>
    <div class="fieldWrapper">
        <label for="id_message">Year:</label>
        {{ form.date_year }}
    </div>
    <div class="fieldWrapper">
        <label for="id_message">Month:</label>
        {{ form.date_month }}
    </div>
    <div class="fieldWrapper">
        <label for="id_message">Day:</label>
        {{ form.date_day }}
    </div>

    <input type="submit" value="Submit">

</form>
